{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
{% block content %}
<body>
    <div id="header">
        <ul>
            <li>Create New Project</li>
            <li><a class="hvr-underline-from-center" href="/">Home</a></li>
        </ul>
    </div>
    <div class="project-wrap">
        <div class="project-info-box">
        <form method="POST">
            <h2>New Project</h2>
                <label for="title">Project Title</label>
                <input type="text" name="title" />
                <br>
                <label for="description">Description</label>
                <input type="text" name="description" />
                <br>
                <label for="location">Location</label>
                <input type="text" name="location" />
                <br>
                <label for="jobs">Jobs</label>

                <ul class="job-list">
                    <li class="job-item">
                        <div class="job-info-box">
                            <label for="role">Role</label>
                            <input type="text" name="{{jobs|length|string}}-role" />
                        </div>
                    </li>
                    <a href="#" id="new-job-button">New job!</a>
                </ul>

                <input type="submit" style="margin-top:20px;"class="submit-donate" value="Submit" />

        </form>
        </div>
    </div>
</body>
{% endblock %}
