{% extends "base.html" %}
{% block title %}New Project{% endblock %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
{% endblock %}
{% block content %}
{{super()}}
<div class="d-flex justify-content-center">
    <div class="card p-5 w-75">
        <form method="POST">
            <div class="form-group">
                <h2>Create a New Project</h2>
                <label for="title">Project Title</label>
                <input class="form-control" type="text" name="title" />
                <label for="description">Description</label>
                <textarea class="form-control" type="text" name="description" rows="3"></textarea>
                <label for="location">Location</label>
                <input class="form-control" type="text" name="location" />
                <label>Jobs</label>
                <span class="badge badge-primary" id="new-job-button">
                    <i class="far fa-plus-square"></i>
                    Add Job
                </span>
                <div class="card-deck w-100" id="job-list">
                    <div class="card w-100" id="job-card-1">
                        <label for="jobs" class="card-header w-100">Job</label>
                        <input type="hidden" value="1" id="numJob" name="nJobs"/>
                        <ul class="list-group list-group-flush">
                            <div class="job-info-box">
                                <li class="list-group-item">
                                    <label for="role">Role</label>
                                    <input class="form-control" type="text" name="1-role" id="role"/>
                                </li>
                                <li class="list-group-item">
                                    <label for="description">Description</label>
                                    <textarea class="form-control" type="text" name="1-description" id="description"></textarea>
                                </li>
                                <li class="list-group-item">
                                    <label for="budget" id="budget-label" class="font-weight-bold">Budget</label><br>
                                    <label for="budget-min">Min</label>
                                    <input class="form-control" type="number" name="1-budget-min" id="budget-min"/>
                                    <label for="budget-max">Max</label>
                                    <input class="form-control" type="number" name="1-budget-max" id="budget-max"/>
                                </li>
                                <li class="list-group-item">
                                    <label for="currency">Currency</label>
                                    <select name="1-currency" id="currency" class="custom-select">
                                        {% for curr in currencies %}
                                        <option value={{curr}}>{{curr}}</option>
                                        {% endfor %}
                                    </select>
                                </li>
                                <li class="list-group-item">
                                    <label for="skills">Skills</label>
                                    <ul class="list-inline mb-3" id="skill-results"></ul>
                                    <select name="skills" id="1-select-skills" style="width: 100%;">
                                        <option value='0'>Select Skill</option>
                                        {% for skill in skills %}
                                        <option value={{skill}}>{{skill}}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="hidden" id="hidden-skills" name="1-hidden-skills" value=""/>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
                <br />

                <input type="submit" style="margin-top:20px;" class="submit-donate" value="Submit" />
            </div>
        </form>
    </div>
</div>
{% endblock %}
