{% extends "base.html" %}
{% block title %}New Project{% endblock %}
{% block head %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
{% block content %}
{{super()}}
<div class="d-flex justify-content-center">
    <div class="card p-5">
        <form method="POST">
            <div class="form-group">
                <h2>Create a New Project</h2>
                <label for="title">Project Title</label>
                <input class="form-control" type="text" name="title" />
                <label for="description">Description</label>
                <input class="form-control" type="text" name="description" />
                <label for="location">Location</label>
                <input class="form-control" type="text" name="location" />
                <label for="jobs">Jobs</label>

                <ul class="job-list" id="job-list">
                    <li class="job-item">
                        <div class="job-info-box">
                            <label for="role">Role</label>
                            <input type="text" name="{{jobs|length|string}}-role" />
                            <label for="description">Description</label>
                            <input type="text" name="{{jobs|length|string}}-description" />
                            <label for="budget">Budget</label>
                            <input type="number" name="{{jobs|length|string}}-budget" />
                            <label for="currency">Currency</label>
                            <select name="currency">
                              <option value="AUD">AUD</option>
                              <option value="USD">USD</option>
                              <option value="EUR">EUR</option>
                            </select>
                            <label for="skills">Skills</label>
                            <select name="skills">
                              <option value="AUD">SEO</option>
                              <option value="USD">Digital Marketing</option>
                              <option value="EUR">Front-end web developemtn</option>
                            </select>
                        </div>
                    </li>
                </ul>
                <a href="#" id="new-job-button">New job!</a>
                <br />

                <button type="submit" class="btn btn-primary" value="Submit" />

        </form>
    </div>
</div>
{% endblock %}