{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
{{ super() }}
<div class="d-flex justify-content-center">
    <div class="d-flex-column projectsContainer">
        <h1> Active Projects </h1>

        <div class="card bg-light m-1">
            <div class="card-body">
                <h4 class="card-title">Getting the word out</h5>
                    <div class="card-header"><b> Jobs Posted </b></div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-dark">SEO - Search Engine Optimization</li>
                        <li class="list-group-item list-group-item-dark">Graphic Design</li>
                        <li class="list-group-item list-group-item-dark">Digital marketing</li>
                    </ul>
                    <a href="#" class="mt-2 btn btn-success">Project Details</a>
            </div>
        </div>
        <div class="card bg-light m-1">
            <div class="card-body">
                <h4 class="card-title">Getting into business</h5>
                    <div class="card-header"><b> Jobs Posted </b></div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-dark">Website Development</li>
                        <li class="list-group-item list-group-item-dark">Law documents</li>
                        <li class="list-group-item list-group-item-dark">Marketing</li>
                    </ul>
                    <a href="#" class="mt-2 btn btn-success">Project Details</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}