{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
{{ super() }}
<div class="row h-100 w-100 align-items-center">
    <div class="col h-75">
        <h1 class="container p-5 h-100 w-100 text-center" style="font-size: 90px;">
            <div class="mb-3">Welcome to SkillBox</div>
            <p class="lead" style="font-size:40px;">Manage large scale outsourced projects quickly and efficiently.</p>
        </h1>
    </div>
</div>
</div>
{% endblock %}